ul{
    margin: 0;
}

.statistics {
    width: 320px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.title {
    background: white;
    padding: 25px 0px;
    margin: 0;
}

.stat_list {
display: table;
width: 100%;
}

.item {
    background-color: tomato;
    padding: 10px 0px;
    display: table-cell;
}

.label {
    font-size: small;
    display: block;
    color: white;
}

.percentage {
    color: white;
    font-weight: 500;
    padding-top: 5px;
    display: block;
}